<!DOCTYPE html>
<html lang="en">
    <head>
<%- include('../partials/head') %>
    
    <body>
        <%- include('../partials/header')%>
            <hr>


            <main class="home">
                <!-- <h2 class="home-text">Nuestros productos</h2> -->
                <section class="product-box">
                 <div class="side-filter">
                     <aside>
                         <h2>Filtrar</h2>
                        
                             <ul>
                                 <li class="filter-button">
                                  
                                         <button class="search-category">
                                            <span>Categoría</span> 
                                            <div class="transform">
                                                <span>
                                                    <i class="fas fa-angle-up rotate-90"></i>
                                                </span>
                                            </div>
                                         </button>
                                   
                                         <ul class="dropdown hide">
                                             <li>
                                                 <button class="all-category">
                                                     <span>Todas las categorías</span>
                                                 </button>
                                                 <ul class="list-category">
                                                     <li><a onclick="getDeco()">Deco</a></li>
                                                     <li><a href="/products">Health & Beauty</a></li>
                                                     <li><a href="/products">Natural medicine</a></li>
                                                     <li><a href="/products">Eco products</a></li>
                                                 </ul>
                                             </li>
                                         </ul>
                                 </li>
                                 <li class="filter-button">
                                    <button class="search-price">
                                        <span>Precio</span> 
                                        <div class="transform">
                                            <span>
                                                <i class="fas fa-angle-up rotate-90"></i>
                                            </span>
                                        </div>
                                     </button>
                                 
                                 <div class="dropdown filter-price hide">
                                   <form action="">
                                       <label for="">
                                       <input type="checkbox">
                                       <span>$</span>
                                    </label>
                                    <label for="">
                                        <input type="checkbox">
                                        <span>$$</span>
                                     </label>
                                     <label for="">
                                        <input type="checkbox">
                                        <span>$$$</span>
                                     </label>
                                   </form>
                                 </div>
                                 </li>
                             </ul>
                         </div>
                     </aside>
                 </div>
                    <div class="prod-box">
                        <% deco.forEach( dproduct => { %>
                         
                                <article class="show-products">
                                    <div>
                                <a href="/products/detail/<%= dproduct.id %> "> <img src= "/img/products/<%=dproduct.image%>"> </a> 
                            </div>
                                <!-- <% if (dproduct.discount)  { %> 
                                    
                                    <button class="off-fixed"><%= dproduct.discount %> % OFF</button>

                                <% } %> -->
                                 
                                
                                <!-- <ul>
                                    <li class="prod-title">
                                    </li> -->
                                    <div class="name"><%= dproduct.name %></div> 
                                    
                                    
                                    <!-- <% if (dproduct.discount) { %> 
                                        <li class="prod-price"><%= dproduct.price %> </li>
                                        <%   let priceOff = ( dproduct.price - (dproduct.discount * dproduct.price / 100) ) %>
                                            <li class="prod-price-off">$<%= priceOff %></li>  -->
                                        
                                    <!-- <% } else { %> if there isn't discount show product price -->
                                        <!-- <li class="product-price">
                                        </li> -->
                                <div>$<%= dproduct.price %></div> 
                                    <!-- <% } %>  -->
                                    
                                <!-- </ul> -->
                                <!-- <h3 class="prod-title">Botella térmica</h3> -->
                                
                              
                                </article>
                        
                        <% }) %> 
                    </div>
                </section>
           
                <div style="height: 4rem;"></div>

        <%- include('../partials/footer')  %> 
    </body>
</html>
   