<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>
            <hr>
            <main class="main-detail">
                <div class="cont-detail">
                    <div class="column-1">
                        <img src="/img/products/<%=product.image%>" alt="<%= product.name %> ">
                       <button class="fav-img" id="addToFavs" onclick="addProductToFav('<%= product.id %>')">
                            <i class="fas fa-heart fav-red"></i>
                        </button>
                    </div>
                    <div class="column-2">
                        <div class="container-column-2">
                            <h3 class="category">
                                <%= product.category.name %>
                            </h3>
                            <h2 class='name'>
                                <%= product.name %>
                            </h2>
                            <button class="fav" id="addToFavs" onclick="addProductToFav('<%= product.id %>')">
                                <i class="fas fa-heart fav-red"></i>
                            </button>
                            <p class="description">
                                <%= product.description %>
                            </p>
                            <div class="counter">

                                <button class="minus">
                                    <span class="material-symbols-outlined">
                                        remove
                                    </span>
                                </button>
                                <input type="text" class="numeric-stepper" value=1 min="0" max="21">
                                <button class="plus">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </button>

                            </div>
                            
                            <div class="price-d">$ <%= product.price.replace('.', ',') %>
                            </div>
                            <span class="credit-pay">En 12x $<%= (product.price/10.3).toFixed(2).replace('.', ',') %> </span>






                            <div class="option">
                                <a href="/products/cart" class="btn-detail1">Comprar ahora</a>
                                
                                <a href="/products/addToCart/<%= product.id %>" class="btn-detail2">Agregar al carrito</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="ud-zone">
                    <a href="/products/edit/<%= product.id %> ">
                    <button class="edit-product">
                        Editar
                    </button>
                </a>
                    <br>
                    <a href="/products/delete/<%= product.id %> ">
                    <button class="delete-product">
                        Eliminar
                    </button>
                </a>
                </div>
                <div style="height: 8rem;"></div>
            </main>

    </body>
    <%- include('../partials/footer') %>

</html>