<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>
            <hr>
            <main class="main-detail">
                <div class="cont-detail">
                    <div class="colum1">
                        <img class="img-d" src="/img/products/<%=product.image%>" alt="<%= product.name %> ">
                    </div>
                    <div class="column-2">
                        <h3 class="category">
                            <%= product.category.name %>
                        </h3>
                        <h2 class='name'>
                            <%= product.name %>
                        </h2>
                        <div class="fav">
                            <i class="fas fa-heart fav-red"></i>
                        </div>
                        <p class="disc">
                            <%= product.description %>
                        </p>
                        <div class="value-d">
                            <select class="select">
                                <option value="">Seleccionar item</option>
                                <option value="">hola</option>
                                <option value="">hola</option>
                                <option value="">hola</option>
                            </select>
                        </div>
                        <div class="price-d">$ <%= product.price %>
                        </div>
                        <a class="off-d" href="/products/cart">Promociones y descuentos aquí</a>






                        <div class="option">
                            <a href="/products/cart" class="btn-detail1">Comprar ahora</a>
                            <a href="/products" class="btn-detail2">Agregar al carrito</a>
                        </div>

                    </div>

                </div>

                <div style="height: 8rem;"></div>
            </main>

    </body>
    <%- include('../partials/footer') %>

</html>