<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    <hr>
        <div class="cont-sup">
        <div class="cont-detail">
            <div class="colum1">
                <img class="img-d" src= "/img/products/<%=product.image%>" alt="qqq">
            </div>
            <div class="colum2"> 
                <div><%= product.category %> </div>
                <div class='name-d'><%= product.name %> </div>
                <h3>Product details</h3>
                <p class="desc-d"><%= product.description %></p>
                <div class="value-d">
                    <select class="select">
                        <option value="">Seleccionar item</option>
                        <option value="">hola</option>
                        <option value="">hola</option>
                        <option value="">hola</option>
                    </select>
                </div>
                <div class="price-d">$  <%= product.price %> </div> 
                <a class="off-d" href="/products/cart">Promociones y descuentos aquí</a>
                
               
                    
                

                
                  <div class="option">
                    <a href="/products/cart" class="btn-detail1">Añadir</a>
                    <a  href="/products" class="btn-detail2">Volver</a>
                  </div>
            
            </div>
            
        </div>
    </div>



</body>
<%- include('../partials/footer')  %> 
</html>