<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>
            <hr>

            <div class="shopping-card-container">
                <div class="mycart">
                    <div class="continue-shopping">
                        <span class="material-symbols-outlined" style="font-size: 18px; color: rgb(90, 90, 90);">
                            arrow_back
                        </span> <a href="/products" class="continue">Continuar comprando</a>
                    </div>
                    <div class="title">

                        <% if (products) { %>
                            <h3>Mi carrito </h3>
                            <span style="font-weight: bold;"> (<%= products.length %>)</span>
                            <% } else { %>
                                <span style="font-weight: bold;"> No tenés productos en carrito</span>
                                <% } %>
                    </div>
                </div>

                <main class="products-in-cart">
                    <div class="cart-overall">
                        <% if(products){ %>
                            <% products.forEach(product=> { %>
                                <section class="shopping-cart">

                                    <!-- <div class="cart-details"> -->
                                    <!-- <section class="cart-container"> -->
                                    <ul>



                                        <li>
                                            <div class="cart-product-detail">
                                                <div class="product-img">
                                                    <!--Si es desde el controller, antes de /img van dos puntos (../img)-->
                                                    <img class="imagen-producto"
                                                        src="/img/products/<%= product['product.image'] %> "
                                                        alt="Producto1">
                                                </div>
                                                <div class="product-description">
                                                    <h5>
                                                        <%= product['product.name'] %>
                                                    </h5>
                                                    <p>
                                                        <%= product['product.description'] %>
                                                    </p>
                                                </div>

                                            </div>
                                            <div class="cart-info">
                                                <div class="price-quantity">
                                                    <div class="price">
                                                        <span>$ <%= product['product.price'] %> </span>
                                                    </div>
                                                    <div class="quantity">
                                                        <select name="quantity" id="quantity">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="5">6</option>
                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="product-delete">
                                                    <!--CAMBIAR DE FORMULARIO A API-->
                                                    <!-- <form
                                            action="/products/cartDeleteProduct/<%= product.product_id %>?_method=DELETE"
                                            method="post"> -->
                                                    <button onclick="deleteProductInCart('<%= product['product.id']%>')"
                                                        class="deleteProduct">
                                                        <i class="fas fa-trash-alt"></i>
                                                        <span style="text-decoration: underline; cursor: pointer;">Eliminar</span>
                                                    </button>
                                                    <!-- </form> -->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                                <% }) %>
                                   
                    </div>

                 
                 
                    <% let checkoutTotal = 0; %>
                    <% for(product of products){ %>  
                       <% checkoutTotal += Number(product['product.price']) %>  
                        <% } %> 
                       
                            <section class="checkout">
                                <div class="shipping">
                                    <span class="material-symbols-outlined" style="width: 38px;">
                                        local_shipping
                                    </span>
                                    <p>Este envío es gratuito!</p>
                                </div>
                                <div class="order-summary">
                                    <div class="order-data">
                                        <div class="subtotal">
                                            <span>Subtotal</span>

                                            <span>$<%= checkoutTotal.toFixed(2).replace('.', ',' ) %>
                                            </span>
                                        </div>
                                        <div class="free-ship">
                                            <span>Envío a:  <span style="text-decoration: underline; cursor: pointer; margin-left: 3px;">Argentina</span></span><span>GRATIS</span>
                                        </div>
                                        <div class="taxes">
                                            <span>Impuesto estimado</span>
                                            <% let tax=checkoutTotal * 0.10 %>

                                                <span>$<%= tax.toFixed(2).replace('.', ',' ) %>
                                                </span>
                                        </div>
                                        <div class="order-summary-divider">
                                            <hr>
                                        </div>
                                        <div class="order-total">
                                            <span>Total: </span>
                                            <% let total=checkoutTotal + tax %>
                                                <span>$<%= total.toFixed(2).replace('.', ',' ) %>
                                                </span>
                                        </div>
                                        <div class="checkout-button">

                                            <button class="checkout">
                                                <span class="material-symbols-outlined">
                                                    lock
                                                </span>
                                                Proceder al pago
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <% } %>
                </main>

            </div>

            <div style="margin-bottom: 6rem;"></div>



            <%- include('../partials/footer') %>
    </body>

</html>