<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    <hr>
    
    <div class="shopping-card-container">

    
    <section class="shopping-cart">
        <div class="title">

            <h3>Carrito de Compras</h3>
            <% if (products) { %>             
                <p>Cant. Productos: <%= products.length %>  </p>
            <% } %>
        </div>
        <hr>
        <ul>
            
             
                <% if (!products) { %>
                    <p style="text-align: center;">Tu carrito está vacío</p>
                <% } else { %>
                        
            

            <% products.forEach(product => { %>
                
                <li>

                    <div class="cart-details">
                        <div class="product-img">
                            <img class="imagen-producto" src="../img/products/<%= product['product.image'] %> " alt="Producto1">
                        </div>
                        <div class="product-description">
                            <h5><%= product['product.name'] %></h5>
                            <p><%= product['product.description'] %> </p>
                            <strong>$ <%=   product['product.price'] %> </strong>
                            
                        </div>
                        <div class="product-cant">
                            <button class="subtractProduct"><i class="fas fa-minus"></i></button>
                            <input value=<%= product.quantity %>  type="text"  name="cantidad" id="cantidad" readonly />
                            <button class="addProduct"><i class="fas fa-plus"></i></button>
                        </div>
                        <div class="product-subtotal">
                            
                            <span>$ </span><h4 class="priceSubtotal"><%=  product['product.price'] * product.quantity %> </h4>                            
                            
                        </div>

                        <div class="product-delete">
                            <form action="/products/cartDeleteProduct/<%= product.product_id %>?_method=DELETE" method="post">
                                <button class="deleteProduct"><i class="fas fa-trash-alt"></i></button>
                            </form>                            
                        </div>
                        
                    </div>
                    <hr>
                </li>
                
                <% }) %>
                <% } %>
            </ul>
            
            
        </section>
        
        
        <section class="footer-cart">
            <div class="total">
                

                 <h3>Subtotal: </h3> <p class="subtotal"> </p>

                
            </div>           
            
            <div class="opciones">
                <a href="/products" class="btn-continue">Seguir comprando</a>
                <a href="#" class="btn-end">Finalizar Compra</a>
                
            </div>
            
            
        </section>

</div>
<script src="/js/shoppingCarts.js"></script>
<%- include('../partials/footer') %> 
</body>
</html>