<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>


    <body>

        <%- include('./partials/header') %>

            <section class="banner">
                <div class="banner-content">
                    <a href="/products">Ver productos</a>
                </div>
            </section>

            <main class="home">
                <h2 class="home-text">Ofertas</h2>
                <section class="home-box">

                    <div class="prod-box">
                        <% products.forEach(product=> { %>
                            <% if(product.insale==1){ %>
                                <article>
                                    <div>
                                        <a href="/products/detail/<%= product.id %> ">
                                        <img src="/img/products/<%= product.image %>" alt="">
                                    </a>
                                    </div>
                                    <button class="off-fixed">
                                        <%= product.off%>% OFF
                                    </button>
                                    <h3 class="prod-title">
                                        <%= product.name %>
                                    </h3>
                                    <br>
                                    <ul>
                                        <a href="">
                                            <button class="add-to-cart">Agregar al carrito</button>
                                        </a>
                                        <li class="prod-price">$ <%= product.price.replace('.', ',')%>
                                        </li>
                                        <li class="prod-price-off">$ <%= product.price - (product.price * product.off /
                                                100).toFixed(2) %>
                                        </li>
                                    </ul>
                                </article>
                                <% } %>
                                    <% }) %>
                    </div>
                </section>
                <br>

                <h2 class="home-text">Ver gama de productos</h2>
                <section class="home-box">
                    <div class="prod-box">
                        <article>
                            <div>
                                <img src="/img/products/bambu.png" alt="">
                            </div>
                            <a class="gama" href="#/products/eco-products">
                                <button class="gama">Comprar cepillos</button>
                            </a>
                            <br>
                        </article>
                        <article>
                            <div>
                                <img src="img/products/cbd2.jpg" alt="">
                            </div>
                            <a class="gama" href="#/products/natural-medicine">
                                <button class="gama">Comprar CBD</button>
                            </a>
                        </article>
                        <article>
                            <div>
                                <img src="/img/products/eco-bag.png" alt="">
                            </div>
                            <a class="gama" href="#/products/eco-products">
                                <button class="gama">Comprar eco-products</button>
                            </a>
                        </article>
                    </div>
                </section>

                <section class="icon-text">
                    <div class="container">
                        <div class="icon">
                            <span class="fas fa-leaf"></span>
                        </div>
                        <div class="text">
                            <ul>
                                <li> <span class="title">Responsabilidad social</span></li>
                                <li> <span class="desc">Impacto económico, social y ambiental</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <div class="icon">
                            <span class="material-icons-outlined">
                                thumb_up
                            </span>
                        </div>
                        <div class="text">
                            <ul>
                                <li> <span class="title">Zero waste</span></li>
                                <li> <span class="desc">Productos reutilizables para un mundo sin plásticos</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <div class="icon">
                            <span class="material-icons-outlined">
                                currency_bitcoin
                            </span>
                        </div>
                        <div class="text">
                            <ul>
                                <li> <span class="title">Bitcoin</span></li>
                                <li> <span class="desc">Aceptamos Bitcoin como medio de pago</span></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="home-box">
                    <div class="prod-box">
                        <article>
                            <div>
                                <img src="/img/products/deco-bath.jpg" alt="">
                            </div>
                            <a class="gama" href="#/products/deco">
                                <button class="gama">Comprar deco</button>
                            </a>
                        </article>
                        <article>
                            <div>
                                <img src="/img/products/cremas.jpg" alt="">
                            </div>
                            <a class="gama" href="#/products/health&beauty">
                                <button class="gama">Comprar cremas</button>
                            </a>
                        </article>
                        <article>
                            <div>
                                <img src="/img/shampoograso.png" alt="">
                            </div>
                            <a class="gama" href="#/products/health&beauty">
                                <button class="gama">Comprar shampoo</button>
                            </a>
                        </article>
                    </div>
                </section>
            </main>
            <br>

            <section class="middle-home">
                <div class="eco-activism">
                    <span class="material-icons-outlined">
                        volunteer_activism
                    </span>
                    <div>
                        <!-- <span class="gray">EcoDev te propone una vida mas</span><span class="green"> natural,
                            sustentable y ecológica</span> -->
                        <!-- <span>Recomendaciones de blogs, preparados especialmente para vos.</span> -->
                        <h2>El estado del planeta</h2>
                        <p>Noticias actualizadas para vos.</p>
                    </div>
                </div>

                <section class="notes">
                    <section class="notes-img">
                        <div class="display-tablet">
                            <article>
                                <a href="" class="ocean">
                                    <img src="img/back/ocean.jpg" alt="">
                                    El uso innecesario del plástico y cómo afecta a los oceanos.
                                </a>
                                <!-- <span>
                                Oceános y el plástico: cómo influyen en el ambiente
                            </span> -->
                            </article>
                            <article>
                                <a href="" class="forest">
                                    <img src="img/back/forest.jpg" alt="">
                                    Mil hectáreas de reserva natural: conocé los bosques Ecodev.
                                </a>
                                <!-- <span>
                                2 mil hectáreas de reserva natural: conocé los bosques Ecodev 
                            </span> -->
                            </article>
                        </div>
                        <div class="display-desktop">
                            <article>
                                <a href="" class="third">
                                    <img src="img/back/tercera.jpg" alt="">
                                    ¿Viajas a la montaña? No vayas sin antes leer esta guía.
                                </a>
                                <!-- <span>
                                En tu visita a la montaña no olvides tu botella térmica
                            </span> -->
                            </article>
                        </div>
                    </section>
                    <!-- <br>
                    <br>
                    <br>
                    <br> -->
                    <br>
                    <br>

                </section>


                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </section>

            <section class="highlight">
                <h2>Productos destacados</h2>
                <div class="highlight-container">
                    <% products.forEach(product=> { %>
                        <% if(product.highlight==1){ %>
                            <article>
                                <img src="/img/products/<%= product.image %> " alt="">

                                <button id="addToFavs" onclick="addProductToFav('<%= product.id %>')">

                                    <i class="fas fa-heart fav-red"></i>
                                </button>
                                <div>
                                    <%= product.name %>
                                </div>
                            </article>
                            <% } %>
                                <% }) %>

                </div>
            </section>
            <br>
            <br>
            <br>
            <br>
            <div class="newsletter">
                <div class="suscribe">
                    <img src="/img/back/mail.png" width="100" alt="">
                    <span>
                        Descuentos del 15%, promociones y los mejores blogs.
                    </span>
                </div>
                <div>
                    <form action="/" method="GET">
                        <input type="email" name="news-email" id="" placeholder="Dejanos tu correo">
                        <button type="submit"><i class="far fa-paper-plane"></i></button>
                    </form>
                </div>
                <p>Al inscribirte, aceptas nuestra <a>Política de privacidad</a> y recibir correos promocionales (date
                    de baja cuando quieras).</p>
            </div>

            <div style="height: 4rem;"></div>

            <%- include('./partials/footer') %>


    </body>


</html>