<%- include('../partials/head')%>

  <%- include('../partials/header')%>

    <!--Si tiene favorito, que muestre-->
    <h1>Tus productos favoritos: </h1>
        <% products.forEach(fav => {  %>
    <span><%= fav['product'].name %></span> 
    <img src="/img/products/<%= fav['product'].image%>" width=100>
      <%  }) %> 

    <%- include('../partials/footer')%>