<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<hr>

<main class="profile">
    <div class="profile-sidebar">
        <div class="avatar-container">
            <img src="/img/users/<%= user.avatar %>">
            <h3><%= user.first_name %> </h3>
        </div>
        <div class="profile-options">
            <a href="/users/edit"><button class="edit">Editar perfil</button></a>
            <a href="/users/logout"><button class="logout">Cerrar sesión</button></a>
        </div>
    </div>
    
<div class="user-pannel">
    <h2>Tu actividad</h2>
    <ul>
        <div class="user-activity">
            <h3>0</h3>
            <br>
            <span>Comprados</span>
        </div>
        <div class="user-activity middle">
            <h3><%= user['products'].length %></h3>
            <br>
            <span>Favoritos</span>
        </div>
        <div class="user-activity">
            <h3><%= cartProducts.length %></h3>
            <br>
            <span>En carrito</span>
        </div>
    </ul>
</div>

</main>

<%- include('../partials/footer') %>
</body>
</html>