<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<hr>

<main class="profile">
    <div class="profile-sidebar">
        <div class="avatar-container">
            <img src="/img/users/<%= user.avatar %>">
            <h3><%= user.first_name %> </h3>
            <h2><%= user.products.id %> </h2>
        </div>
        <div class="edit-profile">
            <button>Editar perfil</button>
        </div>
    </div>
    
<div class="user-pannel">
    <ul>
        <div class="user-activity">
            
        </div>
        <div class="user-activity">
            
        </div>
        <div class="user-activity">
            
        </div>
    </ul>
</div>

</main>

<%- include('../partials/footer') %>
</body>
</html>